* {
    margin: 0;
    padding: 0;
    font-family: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
html {
    background-color: #F6F6F6;
    color: #464D48;
}
body {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}
img {
    width: 70px;
    margin-left: 30px;
    margin-top: 30px;
}
.awaiting, .complete, .rejected, .unknown {
    text-align: center;
}
.logo {
    margin-bottom: 35px;
}
.login, .contact {
    width: 300px;
    margin: 0 auto;
}
.button {
    position: relative;
    display: inline-block;
    padding: 12px 0;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #4a54dc;
    cursor: pointer;
    transition: all 0.15s ease;
    margin-top: 40px;
    background: #4a54dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}
.button:focus {
    outline: 0;
}
.button:hover {
    background: #787fe2;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
p {
    font-weight: bold;
    font-size: 18px;
}
.text_2 {
    margin-top: 10px;
}
.text_3 {
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    text-align: left;
    margin-bottom: -10px;
}
input, button {
    all: unset;
}
button.clipboard {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 15px;
    cursor: pointer;
    transition: .2s;
}
button.clipboard p {
    margin-left: 10px;
}
button.clipboard:hover {
    color: #4a54dc;
}
input#ClipboardTarget {
    user-select: none;
    width: 100%;
}
.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-size: 2rem;
    font-weight: bold;
}
.animation span {
    display: inline-block;
    animation: bounce 0.9s infinite alternate;
    margin: 10px;
}
@keyframes bounce {
    from { transform: translateX(0); }
    to { transform: translateX(10px); }
}
.important_id {
    margin-top: 30px;
}
.id_text {
    font-weight: bold;
    color: red;
    font-size: 26px;
}
